@model IEnumerable<MyPhamStore.Models.Brand>

<style>
    ul li {
        list-style: none; /* loại bỏ chấm đầu dòng của li */
    }

        ul li a {
            color: black; /* đặt màu chữ là màu đen */
            text-decoration: none; /* loại bỏ đường gạch chân */
            margin-left: 0; /* loại bỏ khoảng trắng ở đầu mỗi liên kết */
        }
</style>

<ul>
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.BrandName, "GetMyPhamBrand/" + item.BrandId, "MyPham")</li>
    }
</ul>


